:root{
    --background-color:rgb(132, 25, 34);
    --header-color:#590209;
    --header-height:80px;
    --text-color:rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,body{
    margin:0;
    padding: 0;
    color:var(--text-color);
    background-color: var(--background-color);
    font-size: clamp(16px,1.5vw,20px);
    scroll-behavior: smooth;
    transition: all 1s;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
ul li{
    list-style: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    background-color: var(--header-color);
    z-index: 999;
}


main{
    width: 100%;
}